* {
  font-family: 'Source Sans Pro', sans-serif;
}

:root {
  --white: #fff;
  --lightWhite: #fbfbff;
  --ligtherWhite: #eeeef7;
  --dark: #000;
  --red: #f72c2c;
  --grey: #555;
  --lightgrey: #bbbaba;
  --lighterGrey: #f0f0ff;
}

.container {
  display: flex;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}
